@import "~bootstrap/scss/bootstrap" body {
    background: red;
    /* background: url(/images/bg_match_list.jpg) no-repeat top center/cover; */
}

.f-1 {
    font-size: 2.25rem !important;
}

.f-2 {
    font-size: 42px !important;
}

.f-3 {
    font-size: 3rem;
}

.f-4 {
    font-size: 1.5rem !important;
}

.f-5 {
    font-size: 1.25rem !important;
}

.f-6 {
    font-size: 2rem !important;
}

.lh-1 {
    line-height: 1;
}
.lh-9 {
    line-height: 0.9;
}


body {
    background: url(/images/bg_match_list.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    touch-action: none;
    line-height: 1 !important;
    letter-spacing: 0.1rem !important;

}

.match-page {
    margin-top: 110px;
    font-size: 22px;
    color: #fff;
    padding-bottom: 90px;
}

.match-page-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.25rem;
    color: #FFDC00;
    line-height: 0.75;
}

.match-page-title-lastweek {
    margin-top: 45px;
    color: #FFDC00;
}

.match-page-title-lastweek span {
    color: #fff;
}

.card-match {
    text-align: center;
    margin-top: 20px;
    border-color: #FFDC00 !important;
}

.card-match .kits {
    width: 180px;
}


.card-match .home-kits-label {
    margin-top: 48px;
}


.card-match .times-remaining {

}

.card-match .time-box {
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.card-match .btn-predict {
    width: 420px;
    line-height: 0.7;

}

.card-match .btn-predict span {
    font-size: 18px;
    font-size: 1.75rem;
}

.card-match-lastweek {
    /* width: 100% */
}

.card-match-lastweek .kits {
    width: 90px;
}

.card-match-lastweek .score {
    font-size: 3.5rem;
    letter-spacing: 10px;
}

.card-match-lastweek label {
    max-width: 230px;
}
/* .card-match-lastweek .home-team {
    width: 130px !important;
    margin: auto !important;
}

.card-match-lastweek .away-team {
    width: 130px !important;
    margin: auto !important;
} */
.match-predict {
    margin-top: 110px;
}

.match-predict .times-remaining{
    font-size: 1.5rem;
}

.match-predict .time-box {
    font-size: 4rem;
    margin: auto;
    font-weight: 700;
    padding: 0 20px;
    border-radius: 10px !important;
    line-height: 1;
}

.match-predict .vote-box {
    font-size: 42px;
}

.match-predict .btn-predict {
    margin-top: 60px !important;
    padding: 15px 0;
    font-size: 3rem;
    line-height: 0.7;
}

.match-predict .btn-predict span {
    font-size: 1.75rem;
}

.match-predict .predict-home {
    /* padding-left: 60px;
    padding-right: 60px; */
}

.match-predict .predict-draw {
    /* padding-left: 60px;
    padding-right: 60px; */
}

.match-predict .predict-away {
    /* padding-left: 60px;
    padding-right: 60px; */
}

.match-predict .block-vote {
    font-size: 2.25rem;
}

.match-predict button {
    font-size: 2.25rem;
}

@media (max-width: 576px) {
    .home-kits-label {
        width: 100%;
        margin-top: 0 !important;
    }

    .match-page .btn-predict {
        width: 100% !important;
    }
    .card-match-lastweek {
        flex-wrap: wrap;
        font-size: 18px;
        padding: 0 10px !important;
    ;
    }
    .card-match-lastweek .score {
        font-size: 1.25rem;
        margin-top: 34px !important;
        letter-spacing: 5px;
        padding: 0 !important;
    }

    .card-match-lastweek .kits {
        text-align: center !important;
        padding-left: 0 !important;
    }

    .card-match-lastweek label {
        font-size: 1rem !important;
    }

    .total-predict {
        padding: 20px;
        margin-bottom: 31px;
    }

    .warper-team-kits {
        /* flex-wrap: wrap !important; */
        display: flex !important;
        flex-direction: column;

    }
    .warper-team-kits .kits {
        width: 50%;
        order: 1;
        text-align: center;
        margin: auto;

        /* float: left !important; */
    }
    .warper-team-kits .name {
        order: 2;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .card-match-lastweek .team-away {
        flex-wrap: wrap;
    }
    .card-match-lastweek .team-away div {
        order: 1;
    }

    .card-match-lastweek .team-away label {
        order: 3;
        width: 100%;
    }

    .match-predict .block-vote {
        margin-bottom: 360px;
        flex-wrap: wrap;
        height: 100px;
    }

    .match-predict .block-vote .home {
        width: 50%;
    }
    .match-predict .block-vote .time {
        width: 100%;
        order: 3;
    }
    .match-predict .block-vote .away {
        width: 50%;
        order: 2;
    }

    .match-predict .block-vote .kits {
        width: 130px;
    }
}

footer {
	position: fixed;
    top: 0;
    width: 100%;
    top: auto;
    bottom: 0;
}
